*


!.gitignore
!Integration_Question3.ipynb
!ODE_Question4.ipynb
!Question1_NR.ipynb
!Question2_MultiDimensionsNR.ipynb
!output_data/mnr.csv
!output_data/nr.csv
!output_data/rk_h.csv
!output_data/rk.csv
!output_data/trap.csv
!output_data/SimpingForNami.csv
!ODE_Question4.pdf
!Question1_NR.pdf
!Question2_MultiDimensionsNR.pdf
!Integration_Question3.pdf